<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context.xsd
	   		http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	
	<!-- Spring MVC Annotation -->
	<context:annotation-config />
	<mvc:annotation-driven/>
	<!-- Cấu hình view -->
	<bean id="viewResolver" 
		p:prefix="/WEB-INF/views/" p:suffix=".jsp"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"/>
		
	<!-- Cấu hình để đọc ảnh từ thư mục static_images -->
    <mvc:resources mapping="/static_images/**" location="/WEB-INF/static_images/"/>
   	
   	<!-- Cấu hình package chứa các controller -->
	<context:component-scan base-package="ptithcm.controller"/>
	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="209712520"/>
	</bean>
	
	<!--  VALUE TÙY THUỘC VÀO TỪNG MÁY VÀ TỪNG NƠI LƯU PROJECT -->
	<bean id="envConfig" class="ptithcm.config.EnvConfig">
		<property name="pathUploadFile" 
			value="D:\LuyenTap\LuyenCode\O_Truong\ky7\laptrinhweb\multimedia_web\multimedia-web\src\main\webapp\uploaded_file"/>
	</bean>

</beans>